@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

.key {
  display: inline-block;
  background-color: rgba(146, 146, 219, 0.7);
  border: 2px solid blue;
  border-radius: 5px; 
  padding: 10px;
  margin: 2.5px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  top: 50%;
  text-align: center;
  vertical-align: middle;
  transition: all 100ms ease-in-out;
}

.key.active {
  border-color: rgb(175, 175, 232);
  color:yellow;
  transform: rotate(5deg) scale(1.2);
}

.kbd {
  position: relative;
  top: 50%;
  vertical-align: middle;
  text-align: center;

}

.content {
  height: 100vh;
  width: 100vw;
  background-image: url("../media/concert.jpg");
  background-size: cover;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Fira Mono', monospace;
}
